/.gradle/
/build/
/bin/
*.bin
*.cpg
*.gzip
graph.xml
gsql_client.*
*.txt
*.csv
/workspace
/results

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# IDE
**.iml
**/.idea/
.project
.settings
.classpath

# Misc build
/plume/src/test/resources/conf/SFSRootCAG2.pem
/plume/build/
!/plume/build/jacoco/neptuneIntTest.exec
/sootOutput/
/plume/sootOutput/
/testing/build/
**/.bsp/
target
/project/target/
/neo4j-db
