language: java
os: linux
dist: xenial

services:
  - docker

jdk:
  - openjdk8
  - openjdk9
  - openjdk10
  - openjdk11

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

script:
  - ./gradlew test
  - ./gradlew janusGraphIntTest
  - ./gradlew tigerGraphIntTest
  - ./gradlew neo4jIntTest
  - ./gradlew jacocoTestReport

deploy:
  provider: script
  script: ./gradlew :orchidDeploy -PorchidEnvironment=prod
  on:
    branch: master

after_success:
  - bash <(curl -s https://codecov.io/bash)
