language: java
os: linux

services:
  - docker

jdk:
  - openjdk8
  - openjdk9
  - openjdk10
  - openjdk11

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

script:
  - ./gradlew test
  - ./gradlew janusGraphIntTest
  - ./gradlew tigerGraphIntTest
  - ./gradlew jacocoTestReport

after_success:
  - bash <(curl -s https://codecov.io/bash)