<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{26} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="io.shiftleft.passes.CpgPass" level="WARN" />
        <Logger name="com.github.plume.oss.drivers.IDriver$" level="WARN" />
        <Logger name="com.github.plume.oss.passes.reachingdef.PlumeReachingDefPass" level="WARN" />
    </Loggers>
</Configuration>