name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Test on JDK 11 and Ubuntu 20.04
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Compile classes
        run: ./gradlew classes
      - name: Run unit tests
        run: ./gradlew test
      - name: Run scalatest
        run: ./gradlew scalatest
      - name: Run TinkerGaph integration tests
        run: ./gradlew tinkerGraphIntTest
      - name: Run OverflowDb integration tests
        run: ./gradlew overflowDbIntTest
      - name: Run JanusGraph integration tests
        run: ./gradlew janusGraphIntTest
      - name: Run TigerGraph integration tests
        run: ./gradlew tigerGraphIntTest
      - name: Run Neo4j integration tests
        run: ./gradlew neo4jIntTest

      - name: Run extractor tests
        run: ./gradlew extractorTest

      - name: Compile coverage report
        run: ./gradlew jacocoTestReport
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./plume/build/reports/jacoco
